body {
    margin: 0;
    text-align: center;
    font-family: Montserrat;
    font-size: 1rem;
}


h1 {
    font-size: 5.625rem;
    font-family: Indie Flower;
    color: hsl(184, 55%, 29%);
    margin: 0 auto 0 auto;


}

h2 {
    margin: 0 auto 0 auto;
    font-family: Ubuntu;
    color: hsl(184, 55%, 29%);
    font-weight: normal;
    padding-bottom: 10px;
}

h3 {
    margin-bottom: 0;
    font-family: Ubuntu;
    color: hsl(185, 77%, 10%);
}

p {
    line-height: 2;
}


hr {
    border: dotted #62acac 6px;
    border-bottom: none;
    width: 4%;
    margin: 100px auto;

}

.stalking-container {
    z-index: 5;
    height: 6.25rem;
    width: 6.25rem;
    position: fixed;
    top: 0;
}

.top-container {

    background-color: hsl(182, 32%, 60%);
    padding-top: 100px;

}

.newbie {
    font-size: 0.5em;

}

.newbie:hover {
    background-color: gold;
}

.pro {
    text-decoration: underline;
}



.top-cloud {
    position: absolute;
    width: 15rem;
    right: 18.75rem;
    top: 18.75rem;

}

.bot-cloud {
    position: absolute;
    width: 12rem;
    left: 18.75rem;
    bottom: 18.75rem;
}



.mid-container {
    background-color: hsl(183, 40%, 48%);
    padding: 100px 0;
}

.profilePic {
    border-radius: 50%;
    margin-top: 1.25rem;
    margin-bottom: 1.25rem;
    width: 12.rem;
    height: 12.5rem;

}

.intro {
    width: 25%;
    margin: auto;

}

.bot-container {
    background-color: hsl(182, 32%, 60%)
}

.skill-row {
    width: 50%;
    margin: 6.25rem auto 6.25rem auto;
    text-align: left;

}

.tree {
    width: 25%;
    float: left;
    margin-right: 30px;
}

/* .tree:hover {
    https://codepen.io/tobiasglaus/pen/wxepwv 
} */

.themis {
    width: 25%;
    float: right;
    margin-left: 30px;
}

.chips {
    width: 25%;
    float: left;
    margin-right: 30px;
}

.btn {

    line-height: 3rem;


}

.foot-container {
    background-color: hsl(183, 40%, 48%);

}

.contact-message {
    width: 30%;
    margin: 40px auto;
}